*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media (max-width: 900px) {
    html .container {
      width: 80%; }
    html .content .left {
      flex: 1; }
    html .content .right {
      display: none; }
    html .hidden {
      margin-left: 2rem;
      display: block; }
    html .weather__location {
      width: 90%;
      text-align: center; } }

body {
  font-family: "Poppins", sans-serif;
  color: #1e1714;
  font-weight: 300;
  line-height: 1.6;
  background-color: #a4a6ac; }

.container {
  overflow: hidden;
  min-height: 63rem;
  max-width: 105rem;
  background-color: #f6f6f7;
  margin: 2rem auto;
  border-radius: 18px;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3); }

.hidden {
  display: none; }

.search {
  margin-right: 2rem;
  margin-top: 2rem;
  display: flex;
  flex: 0 0 45%;
  align-items: center;
  justify-content: center; }
  .search__input {
    font-family: inherit;
    font-size: 12px;
    color: inherit;
    background-color: inherit;
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 100px;
    width: 85%;
    transition: all 0.2s;
    margin-right: -3.25rem; }
    .search__input:focus {
      outline: none;
      width: 95%;
      background-color: #f0eeee; }
    .search__input::-webkit-input-placeholder {
      font-weight: 100;
      color: #ccc; }
  .search__input:focus + .search__button {
    background-color: #f0eeee; }
  .search__button {
    border: none;
    background-color: #f4f2f2; }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translateY(2px); }
  .search__icon {
    height: 1.8rem;
    width: 1.8rem;
    fill: #999; }

.content {
  display: flex; }
  .content .right {
    background-color: #f0eeee;
    flex: 1 0 auto; }
  .content .left {
    flex: 1 0 25%; }

.weather {
  display: flex;
  margin-top: 1.2rem;
  align-items: center;
  flex-direction: column; }
  .weather .cel {
    position: relative; }
  .weather__curr-date::after {
    content: "";
    /* This is necessary for the pseudo element to work. */
    display: block;
    /* This will put the pseudo element on its own line. */
    margin: 0 auto;
    /* This will center the border. */
    width: 100%;
    /* Change this to whatever width you want. */
    padding-top: 20px;
    /* This creates some space between the element and the border. */
    border-bottom: 1px solid #ccc;
    /* This creates the border. */ }
  .weather__location {
    width: 90%;
    text-align: center;
    background-color: #96b6c5;
    margin: 1rem auto;
    margin-top: 2.8rem;
    min-height: 15rem;
    border-radius: 25px;
    padding: 1.7rem; }
    .weather__location p {
      font-size: 4rem; }
  .weather h3 {
    font-size: 8rem;
    font-weight: 100; }
  .weather__curr-date {
    font-size: 2rem;
    font-weight: 400; }
  .weather__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 2rem; }
  .weather__rain, .weather__now {
    display: flex;
    align-items: center; }
    .weather__rain p, .weather__now p {
      font-weight: 500; }

.t {
  position: relative; }

.weather__symbol {
  position: absolute;
  font-size: 3.2rem;
  top: 0.8rem;
  left: 9.5rem; }

#time {
  color: #ccc; }

.item:not(:last-child) {
  margin-bottom: 1.6rem; }

.item:last-child {
  margin-top: -1.6rem; }

.navbar {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .navbar p {
    font-size: 1.8rem;
    font-weight: 500;
    border-bottom: 1px solid #000;
    margin-left: 4.7rem; }

button.active {
  background-color: #000;
  color: #fff; }

.cards {
  display: flex;
  margin-left: 4rem; }
  .cards .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 83px;
    margin-top: 2rem;
    background-color: #f6f6f7;
    border-radius: 10px;
    font-size: 1.6rem;
    font-weight: 400;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06); }
    .cards .card:not(:first-child) {
      margin-left: 1rem; }
    .cards .card .temp {
      font-size: 1.3rem;
      font-weight: 300; }
      .cards .card .temp .min {
        color: #ccc; }

.heading__secondary {
  font-size: 1.8rem;
  font-weight: 500;
  margin-left: 4.5rem;
  margin-top: 4rem; }

.highlights__cards {
  display: grid;
  grid-template-columns: repeat(3, 20rem);
  grid-template-rows: repeat(2, 18.5rem);
  margin-bottom: 2rem;
  margin-left: 4rem;
  column-gap: 2rem; }

.today {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 6rem;
  padding: 2.2rem 2.9rem;
  margin-top: 2rem;
  background-color: #f6f6f7;
  border-radius: 10px;
  font-size: 1.6rem;
  font-weight: 400;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  position: relative; }
  .today h2 {
    font-weight: 400;
    font-size: 3.8rem; }
  .today h4 {
    position: absolute;
    top: 1.2rem;
    left: 1.8rem;
    font-weight: 400;
    color: #ccc; }
  .today .km {
    font-size: 2rem;
    font-weight: 400; }
  .today .sunrise,
  .today .sunset {
    margin-left: -3.2rem;
    display: flex;
    align-items: center; }
    .today .sunrise img,
    .today .sunset img {
      height: 4rem;
      width: 4rem; }
  .today .wind__direction {
    display: flex;
    align-items: center; }

.compass {
  height: 2rem;
  width: 2rem;
  margin-right: 0.8rem;
  fill: #999; }

.progress {
  position: relative;
  margin: 4px;
  float: left;
  text-align: center; }

.barOverflow {
  /* Wraps the rotating .bar */
  position: relative;
  overflow: hidden;
  /* Comment this line to understand the trick */
  width: 90px;
  height: 45px;
  /* Half circle (overflow) */
  margin-bottom: -14px;
  /* bring the numbers up */ }

.bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 90px;
  height: 90px;
  /* full circle! */
  border-radius: 50%;
  border: 15px solid #eee;
  /* half gray, */
  border-bottom-color: #eee;
  /* half azure */
  border-left-color: #fea31f;
  border-top-color: #fea31f;
  border-right-color: #eee;
  rotate: -135deg; }
